
.header-menu {
    background-color: #7952b3;
}
a {
    text-decoration: none;
    transition: all 0.3s ease;

}
.header-menu .nav {
    display: flex;
    justify-content: space-between;
}
a:hover {
    color: #f34f3f;
}
* {
    padding: 0;
    margin: 0;
    color: #000;
    font-family: Arial,sans-serif;
}
.header-menu .nav {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    align-items: center;
}
.header-menu .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-menu .nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    text-decoration: none; 
}
.header-menu .nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 15px 0;
    transition: all 0.3s linear;
}
.header-menu .nav ul li a:hover {
    color: #f00;
}
.user-list {
    padding: 30px 0 ;
    text-align: center;
}
 .search-page {
     max-width: 1200px;
     margin: auto;
     text-align: center;
 }
 .search-page .search {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-top: 30px;
     padding: 30px 0 ;
 }
 .search-page .search a {
     padding: 10px 20px ;
    background-color: #f34f3f;
     color: #fff;
     font-weight: 500;
     text-transform: capitalize;
     transition: all 0.3s linear;
     border-radius: 50px;
}
.search-page .search a:hover {
    background-color: #000;    
}
.search-page .search input {
    padding: 10px;
    margin-right: 10px;
}
.btn {
    padding: 10px 20px ;
    background-color: #f34f3f;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s linear;
    border-radius: 50px;
    border: 1px solid #f34f3f;
    cursor: pointer;
}
.btn:hover {
    border: 1px solid #000;
    background-color: #000;
}
.search-page .search form button {
    padding: 10px 20px ;
    background-color: #f34f3f;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    transition: all 0.3s linear;
    border-radius: 50px;
    border: 1px solid #f34f3f;
    cursor: pointer;
}
.search-page .search form button:hover {
    border: 1px solid #000;
    background-color: #000;
}
.search-page table {
    width: 100%;
    border : 1px solid #000;

}
.search-page table thead tr {
    border-bottom : 1px solid #000;
}
.search-page table tr th {
    padding: 10px;
    border-bottom: 1px solid #000;
}
.search-page table tr td {
    text-align: center;
    padding: 10px 0;
}
.form {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    
}
form .form label {
    margin-right: 20px;
}
.create {
    text-align: center;
}
.create h1 {
    padding: 20px 0;
}
.create .form input {
    padding: 5px 10px;
    text-align: center;
}
.create .form .name {
    margin-bottom: 20px;
}
.create .form .phone {
    margin-bottom: 20px;
}