h1 Users
a(href="/users/create") add
form(action="/users/search", method= "GET")
    input(type="text" name="q")
    button Search
ul
    each user in users
        li
            span= user.name
            span 
            a(href="/users/" + user.id, style=" text-decoration: none; color: orange; margin-left: 10px;") view

